<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Bienvenue sur le site {% endblock %}</title>
        {% block stylesheets %}
		    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}  {% endblock %}
        {% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
    </body>
</html>
