{# src/Innovrim/SiteBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}

{% block title %} Innovrim - {{ parent() }}{% endblock %}

{% block body %} 

	<h1>InnovRIM</h1>
	
	{% block vues %} 
			
	{% endblock %}

{% endblock %}

	

	
