

{% extends "::base.html.twig" %}

{% block title %} Accueil - {{ parent() }} {% endblock %}

{% block body %}

    <div id="my_carousel" class="carousel slide" data-ride="carousel">
        <!-- Bulles -->
        <ol class="carousel-indicators">
            <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my_carousel" data-slide-to="1"></li>
            <li data-target="#my_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Slides -->
        <div class="carousel-inner">
            <!-- Page 1 -->
            <div class="item active slider">
                <div class="carousel-page">
                    <img src="img/ban2.jpg" class="img-responsive" style="margin:0px auto;">
                </div>
                <div class="carousel-caption">Slide 1</div>
            </div>
            <!-- Page 2 -->
            <div class="item slider">
                <div class="carousel-page">
                    <img src="img/ban1.jpg" class="img-responsive img-rounded" style="margin:0px auto;">
                </div>
                <div class="carousel-caption">Slide 2</div>
            </div>
            <!-- Page 3 -->
            <div class="item slider">
                <div class="carousel-page">
                    <img src="img/ban3.jpg" class="img-responsive img-rounded" style="margin:0px auto;max-height:100%;">
                </div>
                <div class="carousel-caption">Slide 3</div>
            </div>
        </div>
        <!-- Contrôles -->
        <a class="left carousel-control" href="#my_carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#my_carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
	
	    <!-- Presentation de Innovrim -->
    <div class="section presentation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">GROUPE DES INNOVATEURS EN MAURITANIE</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p>
                        InnovRIM est une communauté de jeunes dynamiques et engagés dans le but de promouvoir des projets innovateurs dans un esprit
                        collaboratif sur plusieurs domaines tel que les NTICs, les énergies renouvelables et le recyclages. Sa naissance remonte en Novembre
                        2014 lors de la 6ième édition de Innovafrica tenu à Lomé. InnovRIM est membre du réseau francophone appelé
                        <a href="http://imaginationforpeople.org/fr/" target="blank">Imagination for people</a>.
                        InnovRIM a un Fablab (Laboratoire de fabrication numérique) connu sous le nom de SahelFablab, le prémier Fablab en Mauritanie.
                    </p>
                    <p><a href="#" class="btn btn-default" role="button">Plus de détails</a></p>
                </div>
                <div class="col-md-3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=2kbj-y-M_zg"></iframe>
                </div>
            </div>
        </div>
    </div>
<!-- Fin du header -->
    <!-- Debut du corps des axes d'innovation -->
<div class="section presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">NOS AXES D'INNOVATION</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>SahelFablab</h3>
                <img src="images/page1-img1.jpg" alt="" class="img-border">
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.</p>
                <a href="#" class="button">More</a>
            </div>
            <div class="col-md-3">
                <h3>Femmes & TICs</h3>
                <img src="images/page1-img2.jpg" alt="" class="img-border">
                <p>Teugiat nulla facilisis at vero eros etmsan et iusto odio dignissim qui blandit praesent luptatum zzril.</p>
                <a href="#" class="button">More</a>
            </div>
            <div class="col-md-3">
                <h3>OSM Mauritanie</h3>
                <img src="images/page1-img3.jpg" alt="" class="img-border">
                <p>Buis dolore te feugait nulla facilisi lorem ipsum dolor siamet consectetuer adipiscing elit, sed diam nonummy.</p>
                <a href="#" class="button">More</a>
            </div>
            <div class="col-md-3">
                <h3>SahelDroid</h3>
                <img src="images/page1-img3.jpg" alt="" class="img-border">
                <p>Buis dolore te feugait nulla facilisi lorem ipsum dolor siamet consectetuer adipiscing elit, sed diam nonummy.</p>
                <a href="#" class="button">More</a>
            </div>
        </div>
    </div>
    <div class="container marketing">
		
	 <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
		  <h2 class="featurette-heading">SahelFablab. <span class="text-muted">Laboratoire de recyclage et de fabrication numérique</span></h2>
          <h2 class="featurette-heading">SahelFablab </h2>
          <p class="lead">Les fablabs sont un réseau mondial de laboratoires locaux, qui rendent possible l'invention en ouvrant aux individus l'accès à des outils de fabrication numérique. SahelFablab est le Premier Fablab Mauritanien dans le réseau des fablabs Francophones.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/axe1.jpg" alt="SahelFablab">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
		  <h2 class="featurette-heading">Femmes & TICs. <span class="text-muted">Projet d’innovation des Femmes dans le domaine des TIC</span></h2>
          <p class="lead">Le groupe femmes & TIC RIM a eu comme activité.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="img/axe2.jpg" alt="Femmes et TICs RIM">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
		  <h2 class="featurette-heading">OSM Mauritanie. <span class="text-muted">Projet d’innovation dans la cartographie numérique.</span></h2>
          <p class="lead">OSM est un projet qui a pour but de constituer une base de données géographique libre du monde, permettant des créer des cartes sous licence libre, en utilisant le système GPS et d’autres données libres. OSM RIM a cartographié une partie de la commune de Tevragh Zeina.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/axe3.jpg" alt="OSM Mauritanie">
        </div>
      </div>
	  
	  <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
	      <h2 class="featurette-heading">SahelDroid. <span class="text-muted">Projet d’innovation dans le développement des applications mobile</span></h2>
          <p class="lead">Projet d’innovation dans le développement des applications mobile. Le projet de Mauritanie Mobile consiste à encourager les jeunes à innover dans le social.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="img/axe4.jpg" alt="Sahel Droid">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Haut de page</a></p>
        <p>&copy; 2015 InnovRIM, Inc. &middot; Designed by: <a href="#">Innovrim</a></p>
      </footer>

    </div><!-- /.container -->

{% endblock %}
