

{% extends "::base.html.twig" %}

{% block title %} Accueil - {{ parent() }} {% endblock %}

{% block body %}

    {#ici tu commence a creer le contenue de l'index#}
    <h2>GROUPE DES INNOVATEURS EN MAURITANIE</h2>
		<p>InnovRIM est une communauté de jeunes dynamiques et engagés dans le but de promouvoir 
		des projets innovateurs dans un esprit collaboratif sur plusieurs domaines tel que les NTICs, 
		les énergies renouvelables et le recyclages. Sa naissance remonte en Novembre 2014 lors de la 
		6ième édition de Innovafrica tenu à Lomé. InnovRIM est membre du réseau francophone appelé 
		Imagination for people. InnovRIM a un Fablab (Laboratoire de fabrication numérique) connu 
		sous le nom de SahelFablab, le prémier Fablab en Mauritanie</p>
{% endblock %}
