

{% extends "::base.html.twig" %}

{% block title %} Accueil - {{ parent() }} {% endblock %}

{% block body %}

    {#ici tu commence a creer le contenue de l'index#}
		<div class="jumbotron">
			<div class="container">
			  <h1>Bienvenue sur le site de INNOVRIM</h1>
			  <p>...</p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Plus de détails</a></p>
			</div>
		</div>
		
{% endblock %}
