{# src/Innovrim/SiteBundle/Resources/views/Default/index.html.twig #}

{% extends "InnovrimSiteBundle::layout.html.twig" %}

{% block title %} Accueil - {{ parent() }} {% endblock %}

{% block vues %} <h2>La vue</h2> {% endblock %}
