body {
    background-repeat: repeat;
}
.navbar-right .dropdown-menu {
    left: auto;
    right: auto;
}
.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    padding-top: 29px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 28px;
}
/*Carousel slide*/
.carousel-inner{
    height: 500px;
}

.carousel-page
{
    width:100%;
    height:500px;
    background-color:#5f666d;
    color:white;
}
.slider img{
    height: 500px;
    width: 1280px;
}
.slider .slide_bg{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-indent: 20px;
    padding: 20px 0;
    color: #fff;
    background-image: url('../img/bg_trans.png');
    text-decoration: none;
    font-size: 18px;
}
.navbar{
    margin-bottom: 0px;
}
.presentation{
    padding-top: 40px;
}
.presentation h1 {
    padding-bottom: 40px;
}